/test-project/package-lock.json
/test-project/node_modules/
/test-project/.editor/
/test-project/deploy/
/test-project/cache/
/test-project/static/wle-trace-sw.js
/tool/package-lock.json
/tool/node_modules/
/tool/dist/
/package-lock.json
/node_modules/
/*.sublime-project
/*.sublime-workspace