/test-project/package-lock.json
/test-project/node_modules/
/test-project/.editor/
/test-project/deploy/
/test-project/cache/
/package-lock.json
/node_modules/
/dist/
/*.sublime-project
/*.sublime-workspace